<div class="container bg-light m-3 p-3">
  <h1 class= "text-center">Make a new Event!</h1>

  <%= form_with model: @event do |form| %>
  <div class="form-group">
    <%= form.label :name %> 
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form group mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>
    <div class="form group mb-3">
    <%= form.label :date %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

    <button class="btn btn-primary" type="submit">Create Event</button>

  <% end %>
</div>


<div class="container bg-light m-3 p-3">


<h1 class= "text-center" >All events:</h1>

<div class="row">
    <%
=begin%>
 <div class="col-6">
        <h2>Past Events</h2>

        <% Event.past.each do |event|  %>
            <% if event.date < Time.now %>
            <p><%= link_to event.name, event_path(event.id) %></p>
            <% end %>
        <% end %>
    </div> 
<%
=end%>
    <div class="col-6">
        <h2>Upcomming events</h2>

        <% Event.future.each do |event|  %>
            <% if event.date > Time.now %>
            <p><%= link_to event.name, event_path(event.id) %></p>
            <% end %>
        <% end %>
    </div>
</div>

</div>

