<h1><%= @event.name%></h1>

<%= link_to "Attend this event", events_attend_path(@event.id)  %>
<%= @event.id  %>

<p><%= @event.date%></p>
<hr>
<h2>Creator: <%= @event.user.name%></h2>

<p><strong>Details:</strong> <%= @event.description%></p>



<hr>

<% @attendances.each do |attendance|  %>


    <p><%= link_to attendance.attendee.name, user_path(attendance.attendee_id) %></p>

<% end %>